.container-calc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 4rem;
}

.ferramenta-calc {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.ferramenta-calc > button {
  background-color: rgb(64, 83, 124);
  width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #fff;
  border-style: none;
}

button:hover {
  cursor: pointer;
}

input {
  text-align: end;
  border-radius: 4px;
}

.historico-calc {
  background-color: #000;
  width: 18rem;
  border-radius: 4.5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
